<%= form_with(model: observation) do |form| %>
  <% if observation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(observation.errors.count, "error") %> prohibited this observation from being saved:</h2>

      <ul>
        <% observation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Cometario, style: "display: block" %>
    <%= form.text_field :content%>
  </div>


  <div>
    <%= form.label :Foto, style: "display: block" %>
    <%= form.text_field :photo_id %>
    <%#= form.text_field : @observation.photo_id  %>  
    <p>Foto  id:  <%= observation.photo_id   %> </p>
  </div>

  <div>
    <%#= form.label :user_id, style: "display: block" %>
    <%#= form.text_field :user_id %>
      Usuario: <%= @observation.user_id%>
  
  </div>

  <div>
    <%= form.submit  class:"btn btn-success px-2 py-2 fw-lith mt-3"  %>
  </div>
<% end %>
